<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<form action="createSuccess" th:object="${user}" method="POST">
    <label for="firstName">First Name: </label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}">
    <br/><br/>
    <label for="lastName">First Name: </label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}">
    <br/><br/>
    <label for="email">Email: </label>
    <input type="text" id="email" name="email" th:field="*{email}">
    <br/><br/>
    <input type="submit" value="Create User">

</form>
</body>
</html>