<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Employees</title>
  <link type="text/css" rel="stylesheet" th:href="@{/tableStyle.css}">

</head>
<body>
<table>
  <thead>
  <tr>
    <th>Employee ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
    <th>Date of Birth</th>
    <th>Hire Date</th>
  </thead>
  <tr th:each="employee:${employees}">
    <td th:text="${employee.id}"></td>
    <td th:text="${employee.firstName}"></td>
    <td th:text="${employee.lastName}"></td>
    <td th:text="${employee.gender}"></td>
    <td th:text="${employee.birthDate}"></td>
    <td th:text="${employee.hireDate}"></td>
  </tr>
</table>
<span th:unless="${pageNum==1}"><a class="pageButton" th:href="@{'http://localhost:8080/web/employees/basic/all/'+ ${pageNum -1}}"><button>Previous</button></a>
</span>
<a class=pageButton th:href="@{'http://localhost:8080/web/employees/basic/all/'+ ${pageNum + 1}}"><button>Next</button></a>


</body>
</html>