<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<div th:insert="/navbar/navbar.html :: navbar">  </div>
<br><br>
<div class="container">
    <form action="updateSuccess" th:object="${employee}" method ="POST">
        Employee Number: <span th:text="*{id}"></span>
        <input type="hidden" id="id" name="id" th:field="*{id}">
        <br/><br/>
        <label for="firstName">First Name: </label>
        <input type="text" id="firstName" name="deptName" th:field="*{firstName}">
        <br/><br/>
        <label for="lastName">Last Name: </label>
        <input type="text" id="lastName" name="LastName" th:field="*{lastName}">
        <br/><br/>
        Gender:
        <input type="radio" id="genderMale" name="gender" value="M" th:field="*{gender}">
        <label for="genderMale">Male</label>
        <input type="radio" id="genderFemale" name="gender" value="F" th:field="*{gender}">
        <label for="genderFemale">Female</label>
        <br/><br/>
        <label for="birthDate">Date of Birth: </label>
        <input type="text" id="birthDate" name="birthDate" th:field="*{birthDate}">
        <br/><br/>
        <label for="hireDate">Hire Date: </label>
        <input type="text" id="hireDate" name="hireDate" th:field="*{hireDate}">
        <br/><br/>
        <input type="submit" value="Update Employee">
    </form>
</div>
</body>
</html>