<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Department</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div th:insert="/navbar/navbar.html :: navbar">  </div>
<br><br>
<div class="container">
    <form action="createSuccess" th:object="${department}" method ="POST">
        <div class="mb-3">
            <label for="id" class="form-label">Department ID: </label>
            <input type="text" class="form-control" id="id" name="id" th:field="*{id}">
        </div>
        <div class="mb-3">
            <label for="deptName" class="form-label">Department Name: </label>
            <input type="text" class="form-control" id="deptName" name="deptName" th:field="*{deptName}">
        </div>
        <input type="submit" class="btn btn-primary" value="Create Department">
    </form>
</div>
</body>
</html>