<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Department</title>
</head>
<body>
<form action="updateSuccess" th:object="${department}" method ="POST">
  Department ID: <span th:text="${department.id}"></span>
  <input type="hidden" id="id" name="id" th:field="*{id}">
  <br/><br/>
  <label for="deptName">Department Name: </label>
  <input type="text" id="deptName" name="deptName" th:field="*{deptName}">
  <br/><br/>
  <input type="submit" value="Update Department">
</form>
</body>
</html>